<!-- submenu secundario -->
<nav class="submenu-navbar">
    <div class="container-fluid">
        <ul class="submenu-list">
            <li><a href="#">Cuentas</a></li>
            <li><a href="#">Tarjetas CMR</a></li>
            <li><a href="#">Inversión</a></li>
            <li><a href="#">Créditos</a></li>
            <li><a href="#">Beneficios</a></li>
            <li><a href="#">CMR Puntos</a></li>
            <li><a href="#">BRE-B</a></li>
            <li><a href="#">Canales</a></li>
            <li><a href="#">Educación Financiera</a></li>
            <li><a href="#">Empresa</a></li>
            <li><a href="#">Seguros</a></li>
        </ul>
    </div>
</nav>
