* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
}

/* Encabezado */
.header {
    background-color: #1f3c88;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Navegaci칩n */
.nav {
    background-color: #162a5f;
    display: flex;
    justify-content: center;
}

.nav a {
    color: white;
    padding: 15px 20px;
    text-decoration: none;
}

.nav a:hover {
    background-color: #0e1c40;
}


.container2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 30px;
}

.card2 {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card2 h4 {
    margin-bottom: 10px;
}

.card2 p {
    margin-bottom: 15px;
}

.card2 button {
    padding: 10px 15px;
    border: none;
    background-color: #1f3c88;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* Tarjetas */
.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card h2 {
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 15px;
}

.card button {
    padding: 10px 15px;
    border: none;
    background-color: #1f3c88;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover {
    background-color: #162a5f;
}

/* Pie de p치gina */
.footer {
    background-color: #1f3c88;
    color: white;
    text-align: center;
    padding: 15px;
}

/* Dise침o Responsive */
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }

    .nav {
        flex-direction: column;
        align-items: center;
    }
}

/* Dise침o Responsive */
@media (max-width: 768px) {
    .container2 {
        grid-template-columns: 1fr;
    }

    .nav {
        flex-direction: column;
        align-items: center;
    }
}